:root {
    /* Змінні для сторінки WebStudio */
    --title-color: #2196F3;
    --text-color: #212121;
    --small_text-color: #757575;
    --white-color: #FFFFFF;
    --bg-color: #2F303A;
    /* Змінні для сторінки Portfolio */
    --unhover_button-color: #F5F4FA;
}


/* Global styles */

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; 
}

body {
    font-size: 14px;
    font-family: Roboto;
}

.logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
}

.nav-list-link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
}

.contact-list-link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;

}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.address-list-link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
}

/* WebStudio */

.section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
}

.section-hero-title {
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
}

.section-hero-btn {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
}

.section-features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
}

.features-list-text {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

.section-work {
    padding-bottom: 94px;
}

.section-work-title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
}

.section-team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-team-title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
}

.team-list-title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.team-list-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}

/* Portfolio */

.filters-list-btn {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.projects-list-title {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
}

.projects-list-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}