:root {
    /* Змінні для сторінки WebStudio */
    --title-color: #2196F3;
    --text-color: #212121;
    --small_text-color: #757575;
    --white-color: #FFFFFF;
    --bg-color: #2F303A;
    /* Змінні для сторінки Portfolio */
    --unhover_button-color: #F5F4FA;
}


/* Global styles */

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; 
}

body {
    font-size: 14px;
    font-family: Roboto;
}

img {
    max-width: 100%;
}

.header-logo {
    color: #2196F3;
}

.logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
}

.logo.header {
    color: #000000;
}

.logo.footer {
    color: #FFF;
}

.container_header {
    display: flex;
    gap: 93px;
    align-items: center;
    min-height: 80px;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.nav-list-link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    color: #212121;
}

.nav-list-link:hover {
    color: #2196F3;
}

.contacts-list {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.contacts-list-link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    color: #757575;
}

.contacts-list-link:hover {
    color: #2196F3;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.address {
    margin-top: 20px;
}

.address-list-link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    color: rgba(255, 255, 255, 0.6);
}
.address-list-link.white {
    color: #FFF;
}

/* WEBSTUDIO */

.section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
    /* background-color: #2F303A; */    
}
.section-hero::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;
    background-image: url("../img/section-hero_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    z-index: -1;
}

.section-hero-title {
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto 30px auto;
}

.section-hero-btn {
    padding: 10px 32px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    display: block;
    margin: 0 auto;
    color: #FFFFFF;
    background-color: #2196F3;
}

.section-features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list {
    display: flex;
    gap: 30px;
}

.features-list-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10px;
}

.features-list-item:nth-child(1):before {
    content: "";
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-image: url("../img/features-list_img-1.svg");
    display: inline-block;
}
.features-list-item:nth-child(2):before {
    content: "";
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-image: url("../img/features-list_img-2.svg");
    display: inline-block;
}
.features-list-item:nth-child(3):before {
    content: "";
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-image: url("../img/features-list_img-3.svg");
    display: inline-block;
}
.features-list-item:nth-child(4):before {
    content: "";
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-image: url("../img/features-list_img-4.svg");
    display: inline-block;
}

.features-list-text {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

.section-work {
    padding-bottom: 94px;
}

.section-work-title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
}

.work-list {
    display: flex;
    gap: 30px;
}

.section-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.section-team-title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-list-item {
    background-color: #fff;
}

.team-list-title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team-list-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px;
}

/* Portfolio */

.filters-list {
    margin-top: 94px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.filters-list-btn {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    padding: 6px 25px;
    background-color: rgba(245, 244, 250, 1);
}

.filters-list-btn:hover {
    background-color: rgba(33, 150, 243, 1);
    color: white;
}


.projects-list {
    margin-bottom: 94px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 28px;
    column-gap: 27px;
}

.projects-list-item {
    border: 1px solid #EEE;
}

.projects-list-title {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    margin-top: 20px;
    margin-left: 24px;
}

.projects-list-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    margin-bottom: 20px;
    margin-left: 24px;
}
